.navbar {
  border: 1px solid black;
  background: #32aeb1;
  padding-bottom: 16px;
}

.container {
  width: 80%;
  margin: auto;
  /* border:1px solid white;  */
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
/* .b1{
 
} */
.locationBox {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 25%;
}
.b1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.b2 {
  border-radius: 8px;
  background-color: white;
}
.b2 input {
  border: none;
  outline: none;
}
.b3 {
  /* color: white ; */

  font-weight: bold;
  justify-content: space-evenly;
  /* margin-left: 50px; */
  padding-left: 15px;
  /* height: 90px; */
  align-items: center;
  /* display: inline-block; */
  /* border: 1px solid white; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: bold;
  color: #ffffff;
}
.b3 svg {
  margin-right: 8px;
}
.secondNavContainer {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.secondNavContainerBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 13px;
}
.secondNavContainerBox img {
  margin-right: 14px;
  border-radius: 50%;

  width: 50px;
}
.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
/* display={'flex'} justifyContent={'space-between'} alignItems={'center'} */
/* mt={'20px'} w={'98%'} m='auto' */
.carouselContainer {
  /* margin-top: 30px; */
  width: 96%;
  margin: auto;
}
.carouselContainer > .dot {
  background: teal;
}

/* w={'98%'} gap={5} m='auto' border={'1px solid black'} justifyContent={'center'} alignItems={'center'} */

.categoryContainer {
  width: 98%;
  /* gap: 5px; */
  line-height: 20px;
  margin: auto;
  margin-top: 30px;
  /* border: 1px solid red; */
  justify-content: space-between;
  align-items: center;
}
/* minH={20} alignContent={'left'} justifyContent={'left'} alignItems={'center'} */
.categoryContainerBox {
  /* min-height: 40px; */
  gap: 5px;
  align-content: left;
  justify-content: left;
  align-items: center;
}
/* color={"#5ba41c"} fontWeight={'bold'} pt={2} fontSize={'11px'} textAlign={'left'} ml={3} */
.categoryContainerBoxItem2 {
  color: #5ba41c;
  font-weight: bold;
  padding-top: 2px;
  font-size: 11px;
  text-align: left;
  margin-left: 12px;
}
/* fontWeight={'bold'} ml={3} textAlign={'left'} fontSize={'12px'} */
.categoryContainerBoxItem1 {
  font-weight: bold;
  font-size: 12px;
  text-align: left;

  margin-left: 12px;
}
/* w={'98%'} m={'auto'} mt={8} */
.newComponent {
  width: 98%;
  margin: auto;
  text-align: left;
  margin-top: 20px;
}
/* fontWeight={'bold'} fontSize={24} textAlign={'left'} */
.leftHeading {
  font-weight: bold;
  font-size: 24px;
  color: #0b1219;
  text-align: left;
  font-family: "LatoBold" sans-serif;
}

.changeButtons button {
  background: none;
  width: 15px;
  font-weight: bold;
}
.changeButtons button:hover {
  color: black;
}
.changeButtons button::before {
  color: black;
}
/* .dealContainer {
  /* display: inline; */
/* } */
/* border={'1px solid black'} w={'40%'} display={'block'} boxSizing={'border-box'} bg={'white'} position={'absolute'} */

.autocomplete {
  border: 1px solid black;
  position: absolute;
  width: 50%;
}
.autoItems {
  border-bottom: 1px solid #000;
  padding: 10px 5px;
  cursor: pointer;
  color: dodgerblue;
  font-weight: bold;
}
.allMain {
  /* border: 1px solid black; */
  width: 98%;
  margin: auto;
  gap: 20px;
}
.childDiv {
  /* border: 1px solid black; */
  padding: 5px;
  text-align: left;
  background: white;

  /* margin-left: 5px; */
}
/* w={'96%'} m='auto' p={2} ml={3} border={'1px solid black'} */
.allGrid {
  margin: auto;
}
/* cursor={"pointer"}
onClick={() => setFilter({ sort: "price", direction: "0" })}
_hover={{ color: "teal", border: "1px solid white" }}
fontWeight={400}
size={"sm"}
px={3}
border={"1px solid #24aeb1"}
color={"#24aeb1"}

variant={"subtle"} */
.filterButtons {
  /* border:1px solid #24aeb1 ;  */
  cursor: pointer;
  color: #24aeb1;
  font-weight: 200;
  /* padding:0 20px 0 20px; */
}
.filterButtons:hover {
  color: teal;
  border: 1px solid #24aeb1;
}
.AlertComponent a {
  margin-left: 8px;
}
.AlertComponent a:hover {
  text-decoration: underline;
  color: black;
}
